@use '../../../styles/labels';

@mixin mediaHover {
  &:hover {
    cursor: none;
  }

  &:hover .layout-link__label-down {
    top: -100%;
  }

  &:hover:before {
    top: 0;
  }
}

.layout__header-link {
  @include labels.layout-link;

  @media(hover: hover) {
    @include mediaHover;

    &:hover .layout-link__label-up {
      top: -100%;
      animation: .3s forwards ease-in-out header__label-animation;
    }
  }

  .layout-link__label-down {
    @include labels.label-down;
  }

  .layout-link__label-up {
    @include labels.label-up;
  }

  .layout-link__label-down_animated {
    @include labels.label-down_animated;
    animation: .3s header__label-animation ease-in-out;
  }
}

.layout__footer-link {
  @include labels.layout-link;

  @media(hover: hover) {
    @include mediaHover;

    &:hover .layout-link__label-up {
      top: -100%;
      animation: .3s forwards ease-in-out footer__label-animation;
    }
  }


  .layout-link__label-down {
    @include labels.label-down;
  }

  .layout-link__label-up {
    @include labels.label-up
  }

  .layout-link__label-down_animated {
    @include labels.label-down_animated;
    animation: .3s forwards footer__label-animation ease-in-out;
  }
}

.layout__footer-link_large {
  @include labels.layout-link;
  height: 10rem;
  line-height: 10rem;
  font-size: 7rem;
  font-weight: 700;

  @media(hover: hover) {
    @include mediaHover;

    &:hover .layout-link__label-up {
      top: -100%;
      animation: .3s forwards ease-in-out large__label-animation;
    }
  }

  .layout-link__label-down {
    @include labels.label-down;
  }

  .layout-link__label-up {
    @include labels.label-up
  }

  .layout-link__label-down_animated {
    @include labels.label-down_animated;
    animation: .3s forwards ease-in-out large__label-animation;
  }
}

@keyframes header__label-animation {
  from {
    rotate: 25deg;
  }

  to {
    rotate: 0deg
  }
}

@keyframes footer__label-animation {
  from {
    rotate: 8deg;
  }

  to {
    rotate: 0deg
  }
}

@keyframes large__label-animation {
  from {
    rotate: 6deg;
  }

  to {
    rotate: 0deg
  }
}
