.card {
  display: grid;
  height: fit-content;

  .card__title-block {
    display: grid;
    place-items: center;
    text-align: center;
    padding-left: 4rem;
    padding-right: 4rem;
    border-top: .2rem solid var(--white-color);
    border-right: .2rem solid var(--white-color);
    border-left: .2rem solid var(--white-color);
    font-size: 2.1rem;

    .card__title {
      transition: padding .3s;
      transition-timing-function: var(--cubic-vezier);
    }
  }

  .card__intro {
    display: grid;
  }

  .card__icon-wrapper {
    transition: all .5s;
    transition-timing-function: var(--cubic-vezier);
  }

  @media(hover: hover) {
    &:hover {
      .card__title {
        padding-top: 1rem;
      }
    }

    &:hover .card__icon-wrapper {
      width: 7rem;
      height: 7rem;
    }

    &:hover * {
      border-color: var(--yellow-color);
      color: var(--yellow-color);
    }

    &:hover .card__icon-wrapper__svg * {
      width: 7rem;
      height: 7rem;
      transition-timing-function: var(--cubic-vezier);
      stroke: var(--yellow-color);
    }
  }

  .card__tags {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    overflow: visible;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .card {
    display: grid;
    row-gap: 1.5rem;

    &:after {
      display: none;
    }

    .card__title-block {
      padding: 0;
      font-size: 1.5rem;

      .card__title {
        margin-top: 1.5rem;
      }
    }

    .card__intro {
      height: fit-content;

      .card__intro__subtitle {
        font-size: 1.3rem;
        font-weight: 500;
      }

      .card__intro__description {
        font-size: .8rem;
        line-height: 1.3rem;
        width: 90%;
      }
    }

    .card__icon-wrapper {
      width: 4.2rem;
      height: 4.2rem;
      margin-top: -.5rem;
    }

    .card__tags {
      column-gap: .5rem;
      row-gap: .5rem;
      font-size: 1.1rem;
      margin-top: -1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card {
    display: grid;
    row-gap: .3rem;
    height: fit-content;

    &:after {
      display: none;
    }

    .card__title-block {
      padding: 0;
      margin-top: -4rem;

      .card__title {
        font-size: 1.8rem;
      }
    }

    .card__intro {
      height: fit-content;
      margin-top: .3rem;

      .card__intro__subtitle {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
      }

      .card__intro__description {
        font-size: .8rem;
      }
    }

    .card__icon-wrapper {
      margin-top: -.5rem;
      width: 4.3rem;
      height: 4.3rem;
    }

    .card__tags {
      column-gap: .5rem;
      row-gap: .5rem;
      height: 4rem;
      font-size: 1.1rem;
    }
  }
}

@media(min-width: 1200px) {
  .card {
    display: grid;
    row-gap: 0;
    position: relative;

    &:after {
      display: grid;
      position: absolute;
      bottom: -2rem;
      left: 0;
      content: '...';
      font-size: 2rem;
      line-height: .3rem;
      text-align: center;
      width: 2.8rem;
      height: 1.4rem;
      border: .125rem solid var(--white-color);
      border-radius: 1rem;
      transition: opacity .5s var(--cubic-bezier);
    }

    &:hover:after {
      opacity: 0;
    }

    .card__title-block {
      margin: 0;
      font-size: 2.2rem;

      .card__title {
        font-size: 2.6rem;
        padding-top: 0rem;
      }

      .card__icon-wrapper {
        width: 13.75rem;
        height: 13.75rem;
      }
    }

    .card__intro {
      height: fit-content;
      margin-top: .8rem;

      .card__intro__subtitle {
        margin-top: 2rem;
        font-size: 1.8rem;
      }

      .card__intro__description {
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 140%;
      }
    }

    &:hover {
      .card__title {
        padding-top: 2rem;
      }
    }

    &:hover .card__icon-wrapper {
      width: 7rem;
      height: 7rem;
    }

    &:hover * {
      border-color: var(--yellow-color);
      color: var(--yellow-color);
    }

    &:hover .card__icon-wrapper__svg * {
      width: 7rem;
      height: 7rem;
      transition-timing-function: var(--cubic-vezier);
      stroke: var(--yellow-color);
    }

    &:hover .card__tags {
      transition: max-height 1s ease-in-out;
      max-height: 300rem;
    }
  }

  .card__tags {
    column-gap: .5rem;
    row-gap: .5rem;
    font-size: 2rem;
    max-height: 2.5rem;
    transition: max-height .5s var(--cubic-bezier);
    overflow: hidden !important;
    margin-top: 2rem;
  }
}