// Размеры паралеллограммов для хэдера и футера, уменьшенные в соответсвии с уменьшением разрешения дисплея
$background-element-s-width: 34rem;
$background-element-s-height: 10rem;
$background-element-m-width: 52rem;
$background-element-m-height: 12rem;
$background-element-l-width: 103rem;
$background-element-l-height: 19rem;