.header {
  display: grid;
  text-align: center;
  position: relative;

  .header__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;

    .header__background__first-item {
      margin-top: 5rem;
      margin-left: -20rem;
      rotate: 20deg;
      width: 103rem;
      height: 18rem;
      filter: blur(100px);
      mix-blend-mode: lighten;
      animation: header-background-animation 25s ease-in-out;
      animation-iteration-count: infinite;
    }

    .header__background__second-item {
      margin-top: -5rem;
      margin-left: 20rem;
      rotate: 150deg;
      width: 103rem;
      height: 18rem;
      filter: blur(6rem);
      mix-blend-mode: lighten;
      animation: header-background-animation 15s ease-in-out;
      animation-iteration-count: infinite;
    }

    .header__background__third-item {
      margin-top: -20rem;
      margin-left: 60rem;
      width: 50rem;
      height: 18rem;
      filter: blur(100px);
      mix-blend-mode: lighten;
      animation: header-background-animation 20s ease-in-out;
      animation-iteration-count: infinite;
    }

    .header__background__fourth-item {
      margin-top: -10rem;
      margin-left: -20rem;
      rotate: 20deg;
      width: 103rem;
      height: 18rem;
      filter: blur(100px);
      mix-blend-mode: lighten;
      animation: header-background-animation 10s ease-in-out;
      animation-iteration-count: infinite;
    }

    .header__background__fifth-item {
      margin-top: 0rem;
      margin-left: -20rem;
      rotate: 20deg;
      width: 103rem;
      height: 18rem;
      filter: blur(100px);
      mix-blend-mode: lighten;
      animation: header-background-animation 10s ease-in-out;
      width: 103rem;
      height: 18rem;
    }

    .header__background__sixth-item {
      margin-top: -10rem;
      margin-left: 15rem;
      rotate: 10deg;
      width: 103rem;
      height: 18rem;
      filter: blur(100px);
      mix-blend-mode: lighten;
      animation: header-background-animation 10s ease-in-out;
      width: 103rem;
      height: 18rem;
    }
  }

  .header__title-and-logo-block {
    display: grid;
    justify-items: center;
    height: 46rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    .header__title {
      font-size: 3rem;
      width: 45%;
      line-height: 2.5rem;
      font-weight: 500;
      margin-top: 14.7rem;
      animation: header-title-animation 1s;
      animation-timing-function: cubic-bezier(0,-0.01,.25,1);
      color: var(--black-color);
    }

    .header__logo {
      justify-self: start;
      width: 98%;
      height: 100%;
      margin-left: 1rem;
      margin-top: -1.5rem;
      animation: header-logo-animation 1s;
      animation-timing-function: cubic-bezier(0,-0.01,.25,1);
    }
  }

  .header__description-block {
    display: grid;
    place-content: center;
    height: 32rem;
    font-size: 4.75rem;
    line-height: 4.5rem;
    background-color: var(--black-color);
    align-self: center;
    letter-spacing: -.18rem;

    .header__description__icon {
      vertical-align: middle;
    }
  }
}

@keyframes header-title-animation {
  0% {
    -webkit-transform: translate(0, 6rem);
    transform: translate(0, 6rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes header-logo-animation {
  0% {
    -webkit-transform: translate(0px, 19rem);
    transform: translate(0px, 19rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}


@keyframes header-background-animation {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: -7.5deg
  }

  50% {
    rotate: -15deg
  }

  75% {
    rotate: 7.5deg
  }

  100% {
    rotate: 0deg
  }
}

