  .navbar {
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    animation: show-navbar 1s var(--cubic-bezier);
    backdrop-filter: blur(.2rem);
    font-size: 1rem;

    .navbar__button {
      display: block;
    }

    .navbar__links {
      display: grid;
      list-style-position: inside;
      width: 100%;

      :nth-child(3) {
        margin-left: 10rem;
      }
    }

    .navbar__menu-icon {
      display: none;
    }
  }

  @keyframes show-navbar {
    0% {
      transform: translate(0, -6.25rem);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @media (min-width: 360px) and (max-width: 768px) {
    .navbar {
      padding: 1rem;
      .navbar__links {
        display: none;
      }

      .navbar__button {
        display: none;
      }

      .navbar__menu-icon {
        display: block;
        position: absolute;
        right: 1rem;
        top: .6rem;
      }
    }

    .navbar.mobile-menu_open {
      position: fixed;
      inset: 0;
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 1fr 1fr;
      background-color: var(--black-color);
      overflow: hidden;
      z-index: 30;

      .navbar__links {
        display: grid;
        align-self: flex-start;
        grid-auto-flow: row;
        row-gap: 1.5rem;
        justify-items: start;
        grid-row-start: 2;
        font-size: 2rem;
        margin-top: 5rem;

        :nth-child(3) {
          margin-left: 0rem;
        }
      }

      .navbar__button {
        display: block;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top: 9.5rem;
        height: 4rem;
        line-height: 3.5rem;
      }
    }
  }

@media (min-width: 768px) and (max-windth: 1200px) {
  .navbar.mobile-menu_open {
    .navbar__links {
      row-gap: 2rem;
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    column-gap: 3rem;

    .navbar__button {
      width: 11.5rem;
    }

    .navbar__links {
      grid-auto-flow: column;
      column-gap: 5.5rem;
      justify-content: right;
      margin-left: -2.2rem;

      :nth-child(3) {
        margin-left: 8.5rem;
      }
    }

    .navbar__logo {
      margin-top: .3rem;
    }
  }
}