  .navbar {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 2.3rem 1.4rem 2.3rem;
    animation: shimmy 1s ease;
    backdrop-filter: blur(1rem);
    font-size: 1rem;

    .navbar-links-and-button {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
    }

    .navbar-links-and-button {
      display: grid;
      grid-auto-flow: column;
      column-gap: 3.8rem;
    }

    .navbar__links {
      display: grid;
      grid-auto-flow: column;
      column-gap: 5.6rem;

      :nth-child(3) {
        margin-left: 7rem;
      }
    }
  }

  @keyframes shimmy {
    0% {
      -webkit-transform: translate(0, 6.25rem);
      transform: translate(0, -6.25rem);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 1;
    }
  }
