.tag {
  width: fit-content;
  height: fit-content;
  border: .125rem solid var(--white-color);
  border-radius: 3rem;
}

@media screen and (min-width: 360px) {
  .tag {
    padding: .3rem .5rem;
    font-size: .8rem;
  }
}

@media screen and (min-width: 768px) {
  .tag {
    padding: .15rem .65rem;
    font-size: .8rem;
  }
}

@media screen and (min-width: 1200px) {
  .tag {
    padding: .3rem .7rem;
    font-size: 1.1rem;
  }
}