.custom-cursor {
  pointer-events: none;
  position: fixed;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--yellow-color);
  border-radius: 50%;
  mix-blend-mode: exclusion;
  transform: translate(-50%, -50%);
  transition: width .3s, height .3s;
  z-index: 300;
}

.hover {
  height: 3rem;
  width: 3rem;
}
